@tailwind base;
@tailwind components;

/*====================*/
/*   Custom Styles   */
/*==================*/
body {
  @apply bg-secondary;
}

.nav-link {
  @apply border-2 border-l-0 border-transparent rounded-r-full hover:border-primary md:border-0;
}

.nav-link:hover svg {
  @apply scale-110 -rotate-6 transition-transform;
}

.scroller::-webkit-scrollbar {
  height: 1em;
}

.scroller::-webkit-scrollbar-track {
  @apply bg-primary rounded-full;
}

.scroller::-webkit-scrollbar-thumb {
  @apply bg-orange-900 rounded-full;
}

@supports (scrollbar-color: #f97316 #7c2d12) {
  .scroller {
    scrollbar-color: #f97316 #7c2d12;
    scrollbar-width: thin;
  }
}

/*==================*/

@tailwind utilities;
