@tailwind base;
@tailwind components;

/*====================*/
/*   Custom Styles   */
/*==================*/
body {
  @apply bg-secondary;
}

.nav-link {
  @apply relative border-2 border-l-0 border-transparent rounded-r-full transition-all md:border-0;
}

.nav-link:hover {
  @apply border-primary bg-gradient-to-l from-primary md:bg-none;
}

.nav-link:hover svg {
  @apply scale-110 -rotate-6 transition-transform;
}

.nav-link::before {
  content: "";
  transform: perspective(100px) rotateX(-25deg);
  @apply hidden opacity-0 absolute inset-0 top-[15%] -z-10 bg-gradient-to-t from-primary transition-opacity md:block md:rounded-none;
}

.nav-link:hover::before {
  @apply opacity-100;
}

.scroller::-webkit-scrollbar {
  height: 1em;
}

.scroller::-webkit-scrollbar-track {
  @apply bg-primary rounded-full my-4;
}

.scroller::-webkit-scrollbar-thumb {
  @apply bg-orange-900 rounded-full;
}

@supports (scrollbar-color: #f97316 #7c2d12) {
  .scroller {
    scrollbar-color: #f97316 #7c2d12;
    scrollbar-width: thin;
  }
}

.sticky-searchbar {
  @apply hidden bg-secondary justify-center mx-auto px-8 border-primary rounded-b-full transition-[opacity,_max-width] duration-300 md:flex;
}

.stick {
  /* Navbar height is 68px so, "top-[68px]" */
  @apply sticky top-[68px] z-40 border-b-[4px];
}

.fix-to-top {
  /* Navbar height is 68px so, "top-[68px]" */
  @apply fixed top-[68px] z-40 border-b-[4px] left-1/2 -translate-x-1/2;
}

.tooltip {
  @apply absolute hidden bg-slate-200 text-zinc-900 text-xs w-max px-2 py-0.5 rounded-sm shadow-md md:text-sm;
}

.tooltip::after {
  content: "";
  position: absolute;
  background-color: inherit;
  height: 50%;
  aspect-ratio: 1/1;
  z-index: -1;
  transform-origin: center;
}

.top.tooltip {
  @apply bottom-full left-1/2 -translate-x-1/2 mb-3;
}

.top.tooltip::after {
  bottom: -3px;
  right: 50%;
  transform: translateX(50%) rotate(45deg);
}

.right.tooltip {
  @apply left-full top-1/2 ml-2 -translate-y-1/2;
}

.right.tooltip::after {
  left: -1px;
  top: 0;
  transform: translateY(50%) rotate(45deg);
}

.bottom.tooltip {
  @apply top-full left-1/2 -translate-x-1/2 mt-3;
}

.bottom.tooltip::after {
  top: -3px;
  right: 50%;
  transform: translateX(50%) rotate(45deg);
}

.left.tooltip {
  @apply right-full top-1/2 mr-2 -translate-y-1/2;
}

.left.tooltip::after {
  right: -1px;
  top: 0;
  transform: translateY(50%) rotate(45deg);
}

.tooltip-container:hover .tooltip
/* .tooltip-container:focus .tooltip, */
/* .tooltip-container:focus- .tooltip */
/* .tooltip-container:focus-visible .tooltip */ {
  display: block;
  /* opacity: 1; */
}

/*==================*/

@tailwind utilities;
