@tailwind base;
@tailwind components;

/*====================*/
/*   Custom Styles   */
/*==================*/
body {
  @apply bg-secondary;
}

.nav-link {
  @apply relative border-2 border-l-0 border-transparent rounded-r-full transition-all md:border-0;
}

.nav-link:hover {
  @apply border-primary bg-gradient-to-l from-primary md:bg-none;
}

.nav-link:hover svg {
  @apply scale-110 -rotate-6 transition-transform;
}

.nav-link::before {
  content: "";
  transform: perspective(100px) rotateX(-25deg);
  @apply hidden opacity-0 absolute inset-0 top-[15%] -z-10 bg-gradient-to-t from-primary transition-opacity md:block md:rounded-none;
}

.nav-link:hover::before {
  @apply opacity-100;
}

.scroller::-webkit-scrollbar {
  height: 1em;
}

.scroller::-webkit-scrollbar-track {
  @apply bg-primary rounded-full;
}

.scroller::-webkit-scrollbar-thumb {
  @apply bg-orange-900 rounded-full;
}

@supports (scrollbar-color: #f97316 #7c2d12) {
  .scroller {
    scrollbar-color: #f97316 #7c2d12;
    scrollbar-width: thin;
  }
}

.sticky-searchbar {
  @apply hidden bg-secondary justify-center mx-auto px-8 border-primary rounded-b-full transition-[opacity,_max-width] duration-300 md:flex;
}

.stick {
  /* Navbar height is 68px so, "top-[68px]" */
  @apply sticky top-[68px] z-40 border-b-[4px];
}

.fix-to-top {
  /* Navbar height is 68px so, "top-[68px]" */
  @apply fixed top-[68px] z-40 border-b-[4px] left-1/2 -translate-x-1/2;
}

/*==================*/

@tailwind utilities;
